body{
    margin: 1.7%;
    background-color: #F5F5F5;
    text-align: center;
}
.menu{
    background-color: #A6896F;
    color: #4F5902;
}

.menu div{
    display: inline-block;
}

.menu1{
    margin-left: 40%;
}
.menu1 ul li {
    text-align: right;
    display: inline-block;
    margin: auto;  
}

.bloco3 div{
    display: inline-block;
    background-color: aqua;
    
}

form{
    background-color: blueviolet;
    border: black;
    
}

.menu2{
    background-color: yellow;
    padding: 0%;
}

.menu2 ul li{
    display: inline-block;
    font-size: larger;
    margin-left: 3%;
    border-radius: 50%;
    background: #4F5902;
    width: 10%;
    height: 10%;
    padding-top: 1.5%;
}

.bloco2{
    background-color: blue;
    max-width: 30%;
}

.bloco1{
    max-width: 70%;
    margin-left: 30%;
    height: 0;
}