body{
    margin: 1.7%;
    background-color: #F5F5F5;
    color: #401E0A;
}
.barra-navegacao{
    background-color: #A6896F;
    color: #4F5902;
}

.barra-navegacao div{
    display: inline-block;
}

.menu1 {
    margin-left: 40%;
}
.menu1 ul li {
    text-align: right;
    display: inline-block;
    margin: auto;  
}

.bloco1 {
    display: grid;
    grid-template-columns: 30% 70%;
    margin-top: 10px;
    align-items: center;

}

form {
    align-items: center;
    margin-left: 15%; 
}

.menu2 {
    margin-left: 30%;
    
}

.menu2 ul li {
    display: inline-block;
    border-color: #401E0A;
}

.menu2 a {
    /* border: #401E0A solid 0.5px; */
    border-radius: 50%;
    font-size: larger;
    margin-left: 10px;
    color: #4F5902;
    padding: 15px 0px;
    background-color: #D9D9D9;
}

.menu2 a:hover{
    color:#401E0A
}

.menu2 a:focus-visible{
    color:#A6896F;
}

.container{
    display: grid;
    grid-template-columns: 40% 60%;
    margin-top: 2%;
}

.bloco2 {
    text-align: center;
    background-color: #D9D9D9;
    margin-left: 10%;
}

.bloco2 h3{
    color: #4F5902;
}

.bloco3 {
    text-align: center;
    background-color: #D9D9D9;
    margin-right: 10%;
    margin-left: 10%;
}

.bloco3 h3{
    color: #4F5902;    
}
.bloco3 h2{
    color: #401E0A;
}


.bloco1 input{
    border: #401E0A solid 1.5px;
}
.bloco1 input:focus-visible{
    background-color: #A6896F;
}
.bloco1 input{
    border: #401E0A solid 1.5px;
}
.bloco1 input:focus-visible{
    background-color: #A6896F;
}
.bloco1 button{
    background-color: #A6896F;
    padding: 2px 10px ;
    border: #401E0A solid 1px;
    border-radius: 2px;
    color: #401E0A;
    text-decoration: solid;
}

.bloco1 button:hover{
    background-color: #401E0A;
    color: #A6896F;
}

.bloco1 button:focus-visible{
    color: #4F5902;
}